<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form Input Bindings - Basic Usage</title>
</head>
<body>
  <!-- Radio -->
  <div id="app">
    <input type="radio" name="number" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" name="number" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
  </div>
</body>
</html>