<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Handling Edge Cases - Programmatic Event Listeners</title>
</head>
<body>
  <div id="app">
    <label for="start-date">Start Date: </label>
    <input id="start-date" ref="startDateInput" v-model="startDate" type="text">
    <br><br>
    <label for="end-date">End Date: </label>
    <input id="end-date" ref="endDateInput" v-model="endDate" type="text">
  </div>
</body>
</html>